/* HOME PAGE */
#home{
    position: relative;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}
.top-left {
    position: absolute;
    top: 60px;
    left: 180px;
    font-size: 120%;
    text-shadow: 2px 2px 5px #777;
    font-weight: 600;
}
.top-leftest {
    position: absolute;
    top: 10px;
    left: 50px;
    text-shadow: 2px 2px 5px #777;
    font-weight: 500;
  }
  
/* IMAGES */
/* japan is .center */
.center{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
}

/* ABOUT ME SECTION */
#share{
    margin-top: 20px;
    margin-bottom: 30px;
}
.about-me{
    font-weight: 500;
    margin: 2px;
}

/* SKILLS SECTION */
#love{
    margin-bottom: 25px;
}

#skills {
    margin: 10px;
    margin-bottom: 30px;
}

/* PROJECTS SECTIONS */
#accomplish{
    margin-top: 30px;
    margin-bottom: 35px;
}

/* CONTACT SECTION */
#reach{
    margin-top: 40px;
}

#seeking{
    margin-bottom: 35px;
}

/* FOOTER */
footer{
    background-color: rgb(2, 201, 201);
    padding-top: 25px;
    padding-bottom: 20px;
    margin-top: 10px;
}

footer a {
    display: block;
    color:white;
    padding: 16px;
    text-decoration: none;
    font-weight: 500;
    text-shadow: 0.5px 0.5px grey;
  }
  
footer a:hover {
    color: blueviolet;
  }

/* RETURN TO TOP ICON */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: blueviolet; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #222; /* Add a dark-grey background on hover */
  }